my_custom_profile_1
my_custom_profile
my_custom_profile_2
my_custom_profile_3

downloaded_files
__pycache__
*.pyc

# Node
node_modules/
backend/node_modules/

# Build
backend/dist/
dist/

# Env
.env
.env.local
.env.*.local